*{
    box-sizing: border-box;
}
/* #f{
    color: blue;
} */
ul>.active{
    color: green;
}
li{
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: #333;
}
.active{
    color: red;
}
